* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Raleway';
  font-weight: 700;
  color: #000;
  background-image: url(../img/backgroundt.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;

}

header {
  background: #000;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span {
  display: block;
  background: #a0d93f;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before {
  display: block;
  background: #a0d93f;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::after {
  display: block;
  background: #a0d93f;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #000;
  width: 100%;
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  -o-transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #a0d93f;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #707fe0;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1,1);
      -ms-transform: scale(1,1);
          transform: scale(1,1);
  background-color: #000;
  opacity: 0.8;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  -o-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}


a:hover, a:focus {
  text-decoration: none;
  color: #4b22f0;
}

a:active {
  color: #a0d93f;
  font-weight: 500px;
}

.my-work-link a {
  color: #a0d93f;
  background-color: #000;
}

.meet-app-screen {
  height: 12em;
  width: 20em;
}


button {
  border: none;
  font-family: inherit;
  background-color: #ad9c00;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  background-color: #6c66e3;
}

.cv-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ad9c00;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

}
button:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  color: #000;
  background-color: #6c66e3;
}
button:focus {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  color: #000;
  background-color: #6c66e3;
}
.cv-button:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  color: #000;
  background-color: #6c66e3;
}
.cv-button:focus {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  color: #000;
  background-color: #6c66e3;
}

.profile__picture {
  float: left;
  border-radius: 100px;
  margin-right: 50px;


}

/*Entire home section with image + welcome text -- excluding footer*/
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 100px 500px;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  grid-column-gap: 100px;
}

.grid__item {
  background-color: #707fe0;
}


label {
  display:inline-block;
  width: 250px;
  min-width: 400px;
}



thead tr {
  background-color: #ad9c00;
}

td {
  padding: 12px 15px;
}

tbody tr:first-child {
  background-color: #707fe0;
}

tbody tr:nth-last-of-type(even) {
  background-color: #949feb;
}

tbody tr:last-child {
  background-color: #707fe0;
}

#girl {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: moving-girl;
          animation-name: moving-girl;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
}


@-webkit-keyframes moving-girl {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}


@keyframes moving-girl {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}



@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750) {
  .grid {
    -ms-grid-columns: 1fr 100px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }

}

@media screen and (min-width: 360px) and (max-width: 500px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .wrapper {
    padding: 10px;
    width: 100%;
  }

  .animation {
    display: none;
  }
}


@media screen and (min-width: 800px) {


  .nav-toggle-label {
    display: none;
  }

  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;  }

  .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }

  nav {
    all: unset;

    position: relative;
    text-align: left;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    -ms-grid-column: 3;

    -ms-grid-column-span: 1;

    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    }

  nav a {
    opacity: 1;
    position: relative;
    }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    -o-transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
    }

  nav a:hover::before {
    -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
  }


  table {
    width: 100%;
  }


}