:root {
  --black: #000;
  --violet: #6c66e3;
  --violet-lighter:#707fe0;
  --violet-lightest: #949feb;
  --lime-green: #a0d93f;
  --gold: #ad9c00;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway';
  font-weight: 700;
  color: var(--black);
  background-image: url(../img/backgroundt.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;

}

header {
  background: var(--black);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--lime-green);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--black);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin-left: 2000px; /*IE fallback*/
  margin: 0;
  padding: 0;
  list-style: none;
}


nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--lime-green);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--violet-lighter);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  background-color: var(--black);
  opacity: 0.8;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


a:hover, a:focus {
  text-decoration: none;
  color: #4b22f0;
}

a:active {
  color: var(--lime-green);
  font-weight: 500px;
}

.my-work-link a {
  color: var(--lime-green);
  background-color: var(--black);
}


button {
  border: none;
  font-family: inherit;
  background-color: var(--gold);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  transition-duration: 0.8s;
  transition-property: background-color, transform;
  background-color: #6c66e3;
}

.cv-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--gold);
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

}
button:hover,
button:focus,
.cv-button:hover,
.cv-button:focus {
  cursor: pointer;
  transition-duration: 0.8s;
  transition-property: background-color, transform;
  color: var(--black);
  background-color: var(--violet);
}

.profile__picture {
  float: left;
  border-radius: 100px;
  margin-right: 50px;


}

/*Entire home section with image + welcome text -- excluding footer*/
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  text-align: center;
  flex-direction: column;
}


.grid {
  display: inline-block; /*IE fallback*/
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  grid-column-gap: 100px;
}

.grid__item {
  background-color: var(--violet-lighter);
}


label {
  display:inline-block;
  width: 250px;
  min-width: 400px;
}



thead tr {
  background-color: #ad9c00;
}

td {
  padding: 12px 15px;
}

tbody tr:first-child {
  background-color: var(--violet-lighter);
}

tbody tr:nth-last-of-type(even) {
  background-color: var(--violet-lightest);
}

tbody tr:last-child {
  background-color: var(--violet-lighter);
}

#girl {
  animation-duration: 10s;
  animation-name: moving-girl;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}


@keyframes moving-girl {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(120px);
  }
}



@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all (min-width: 500px) and (max-width: 750) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }

}

@media screen and (min-width: 360px) and (max-width: 500px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .wrapper {
    padding: 10px;
    width: 100%;
  }

  .animation {
    display: none;
  }
}


@media screen and (min-width: 800px) {


  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset;

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    }

  nav a {
    opacity: 1;
    position: relative;
    }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    }

  nav a:hover::before {
    transform: scale(1,1);
  }


  table {
    width: 100%;
  }


}
